[Unit]
Description=local BIND 9 via resolvconf
Documentation=man:named(8) man:resolvconf(8)
PartOf=named.service
After=named.service
ConditionFileIsExecutable=/sbin/resolvconf

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'echo nameserver 127.0.0.1 | /sbin/resolvconf -a lo.named'
ExecStop=/sbin/resolvconf -d lo.named

[Install]
WantedBy=named.service
Alias=bind9-resolvconf.service
